
.hero, .home{
  background-size: cover !important;
  background-position: center;
}
.home {
  background:linear-gradient(rgba(10, 60, 70, 0.5), rgba(10, 60, 70, 0.5)), url('https://i.ibb.co/kQ94q6f/background.jpg');
}

.MuiFormControl-root {
  margin-bottom: 12px !important;
}

nav, footer{
  background:linear-gradient(to right, rgba(20, 70, 90, 1), rgba(10, 60, 70, 1));
}
