@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$blue: #0f8dbc;
$blue-invert: #fff;
$primary: $blue;
$primary-invert: $blue-invert;

$darkblue: #0b3747;
$darkblue-invert: #fff;
$info: $darkblue;
$info-invert: $darkblue-invert;

@import "../../node_modules/bulma/";

.brandfont {
  font-family: "Bebas Neue", "arial", sans-serif;
}

.is-clickable {
  cursor: pointer;
}

.is-faded {
  background-color: rgba(255, 255, 255, 0.8);;
}

.is-link {
  color: #1D8EBA;
}

// .is-link:hover {
//   border-bottom: 1px solid #52b3da;
//   color: #52b3da;
// }


.is-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  color: #67c2e6;
  background: #52b3da;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.is-link:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

.hero,
.home {
  background-size: cover !important;
  background-position: center;
}
.home {
  background: linear-gradient(rgba(10, 60, 70, 0.3), rgba(10, 60, 70, 0.3)),
    url("https://i.ibb.co/kQ94q6f/background.jpg");
}

.MuiFormControl-root {
  margin-bottom: 12px !important;
}

nav,
footer {
  background: linear-gradient(to right, rgba(20, 70, 90, 1), rgba(10, 60, 70, 1));
}

.imagegallery div img {
  display: block;
  max-height: 100px;
}

.nodanger .is-danger {
  border: none !important;
}

.fa-check-circle {
  color: #3bc067;
}

.fa-times-circle {
  color: #af4242;
}

.loading {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

.loading img {
  margin: 0 auto;
  width: 200px;
}

.danger-border {
  border: 1px solid #f14668;
  border-radius: 4px;
  padding: 20px;
}

.override .is-danger,
.override .danger-border,
.override .select.is-danger select {
  border-color: #dbdbdb;
}

.is-divider {
  border-top: 1px solid #e6e6e6;
  margin: 10px 0 20px 0;
}


.is-divider-vertical {
  border-left: 1px solid #e6e6e6;
  margin: 10px 20px 10px 20px;
}

// .modal {
//   display: none;
//   height: 100%;
//   width: 100vw;
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .modal.is-active {
//   display: block;
// }
// .lovelyModal{
//   padding: 0px im !important;
//   margin: 0px im !important;
// }